<!DOCTYPE html>
<html lang="en">
<head>
  <title>Date Range Simulation Visualization</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 20px;
          line-height: 1.2;
      }
      h1, h2, h3 {
          color: #333;
      }
      table {
          border-collapse: collapse;
          font-size: 12px;
          margin-top: 20px;
      }
      th, td {
          border: 1px solid #ddd;
          padding: 4px;
          text-align: center;
      }
      th {
          background-color: #f2f2f2;
          position: sticky;
          top: 0;
      }
      .today {
          font-weight: bold;
          position: sticky;
          left: 0;
          background-color: #f2f2f2;
      }
      .searched-0 {
          background-color: rgba(255, 233, 59, 0.6); /* Bright yellow */
      }
      .searched-1 {
          background-color: rgba(186, 104, 200, 0.6); /* Moderate purple */
      }
      .searched-2 {
          background-color: rgba(100, 221, 23, 0.6); /* Lime green */
      }
      .searched-3 {
          background-color: rgba(41, 182, 246, 0.6); /* Sky blue */
      }
      .searched-4 {
          background-color: rgba(255, 87, 34, 0.6); /* Deep orange */
      }
      .searched-5 {
          background-color: rgba(255, 167, 38, 0.6); /* Amber/orange */
      }
      /*.searched-0 {*/
      /*    background-color: rgba(251, 234, 49, 0.6);*/
      /*}*/
      /*.searched-1 {*/
      /*    background-color: rgba(174, 46, 248, 0.6);*/
      /*}*/
      /*.searched-2 {*/
      /*    background-color: rgba(131, 244, 40, 0.6);*/
      /*}*/
      /*.searched-3 {*/
      /*    background-color: rgba(22, 147, 230, 0.6);*/
      /*}*/
      /*.searched-other {*/
      /*    background-color: #ffb366;*/
      /*}*/
      .ignore {
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-top: none;
          border-bottom: none;
          background-color: #aaaaaa;
      }
      .period-boundary {
          border-left: 2px solid black;
          border-bottom: 2px solid black;
          border-right: none;
          border-top: none;
      }
      .error-streak {
          background-color: rgba(102, 34, 34, 0.7);
          color: #fff;
          font-weight: bold;
      }
      .legend {
          margin: 20px 0;
      }
      .legend-item {
          display: inline-block;
          margin-right: 15px;
      }
      .legend-color {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border: 1px solid #ddd;
          vertical-align: middle;
      }
      .container {
          max-width: 100%;
          overflow-x: auto;
      }
  </style>
</head>
<body>
<h1>Date Range Simulation Visualization</h1>

<div>
  <strong>Simulation Period:</strong> <%= format_date(@start_date) %> to <%= format_date(@end_date) %><br>
  <strong>Max Period:</strong> <%= @max_period %> days<br>
  <strong>Everytime:</strong> <%= @everytime %> days
</div>



<% if error_data %>
  <div class="error-info">
    <h3>Error Details</h3>
    <p>
      Error found on <%= error_data[:found_on] %>:
      <%= error_data[:search_date] %> was unchecked for <%= error_data[:streak] %> days
      (last checked on <%= error_data[:last_checked] %>)
    </p>
  </div>
<% end %>

<div class="container">
  <table>
    <thead>
    <tr>
      <th rowspan="2">Today</th>
      <th colspan="<%= all_dates.size %>">Dates Searched</th>
      <th rowspan="2"  title="Coverage of DISPLAYED range">Cov<wbr>er<wbr>age<wbr>%</th>
    </tr>
    <tr>
      <% all_dates.each do |date| %>
        <th><%= format_date(date) %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% today_dates.each do |today_date| %>
      <tr>
        <th class="today"><%= format_date(today_date) %></th>
        <% all_dates.each do |search_date| %>
          <%
            cell_class, title, cell_content, col_span, row_span = cell_details(today_date, search_date)
          %>
          <% if cell_class || title || cell_content || col_span || row_span %>
            <td class="<%= cell_class %>"<%= col_span != 1 ? " colspan=\"#{col_span}\"" : ''
            %><%= row_span != 1? " rowspan=\"#{row_span}\"" : ''
            %><% if title %> title="<%= title %>"<% end %> ><%= cell_content.sub('everytime', 'ET') %></td>
          <% end %>
       <% end %>
        <td class="coverage" title="Coverage of DISPLAYED range"><%= today_coverage(today_date) %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th  title="Coverage of DISPLAYED range">Cov<wbr>er<wbr>age<wbr>%</th>
        <% all_dates.each do |search_date| %>
            <td class="coverage"  title="Coverage of DISPLAYED range"><%= search_coverage(search_date) %></td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>

<div class="legend">
  <% rationalize_css_classes %>
  <strong>Legend:</strong>
  <%# @css_days.each_with_index do |days, i| %>
<!--    <div class="legend-item">-->
<!--      <span class="legend-color <%#= CSS_CLASSES[i] || "searched-#{CSS_CLASSES.size}" %>" ></span> <%#= days %>-day period-->
<!--    </div>-->
  <%# end %>
  <% day_colors = @css_days.map.with_index { |days, i| [days, CSS_CLASSES[i] || "searched-#{CSS_CLASSES.size}"] }.sort_by { |days, _| days } %>
  <% day_colors.each do |days, css_class| %>
    <div class="legend-item">
      <span class="legend-color <%= css_class %>"></span> <%= days %>-day period
    </div>
  <% end %>
  <% if @css_other_days.any? %>
    <div class="legend-item">
      <span class="legend-color searched-<%= CSS_CLASSES.size %>" ></span>
      <% if @css_other_days.size > 1 %>
        other merged / extended period
      <% else %>
        <%= @css_other_days.first %>-day period
      <% end %>
    </div>
  <% end %>
  <div class="legend-item">
    <span class="legend-color error-streak"></span> Error streak
  </div>
  <div class="legend-item">
    <span class="legend-color ignore"></span> Ignore future / before search
  </div>
</div>

</body>
</html>
